# Prepping Reptilia Data for Inputting into R Script

In [2]:
import pandas as pd

In [3]:
rep = pd.read_csv('reptilia_dup.csv')

In [4]:
# Cursory glance
rep.head()

,occurrence_no,pres_mode,preservation_quality,common_body_parts,abund_value,abund_unit,class,family,genus,taxon_environment,...,artifacts,component_comments,spatial_resolution,temporal_resolution,lagerstatten,concentration,orientation,abund_in_sediment,collection_comments,taxonomy_comments
0,N84,NaN,NaN,an individual seprated from the 11753 b and c ...,NaN,NaN,Reptilia,Rhynchosauridae,Stenaulorhynchus,terrestrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N83,NaN,NaN,lower jaw and humerus,NaN,NaN,Reptilia,Rhynchosauridae,Mesosuchus,terrestrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N82,NaN,NaN,foot,NaN,NaN,Reptilia,Rhynchosauridae,Mesosuchus,terrestrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N81,NaN,NaN,maxilla,NaN,NaN,Reptilia,Rhynchosauridae,Mesosuchus,terrestrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N80,NaN,NaN,partial skull,NaN,NaN,Reptilia,Rhynchosauridae,Eohyosaurus,terrestrial,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rep.columns

Index(['occurrence_no', 'pres_mode', 'preservation_quality',
       'common_body_parts', 'abund_value', 'abund_unit', 'class', 'family',
       'genus', 'taxon_environment', 'life_habit', 'diet', 'early_interval',
       'late_interval', 'time_bins', 'museum', 'collection_no', 'age_max',
       'age_min', 'age_median', 'age_uncer_range', 'lng', 'lat', 'environment',
       'occurrence_comments', 'cc', 'state', 'county', 'formation',
       'stratgroup', 'member', 'zone', 'accepted_rank', 'ref_author',
       'ref_pubyr', 'reference_no.x', 'collection_name', 'collection_subset',
       'collection_aka', 'latlng_basis', 'latlng_precision', 'geogscale',
       'geogcomments', 'paleomodel', 'geoplate', 'paleoage', 'paleolng',
       'paleolat', 'paleomodel2', 'geoplate2', 'paleoage2', 'paleolng2',
       'paleolat2', 'paleomodel3', 'geoplate3', 'paleoage3', 'paleolng3',
       'paleolat3', 'protected', 'stratscale', 'localsection', 'localbed',
       'stratcomments', 'lithdescript', 'lithology1', 'lithadj1',
       'lithification1', 'minor_lithology1', 'fossilsfrom1', 'lithology2',
       'lithadj2', 'lithification2', 'minor_lithology2', 'fossilsfrom2',
       'tectonic_setting', 'geology_comments', 'assembl_comps',
       'articulated_parts', 'associated_parts', 'rare_body_parts',
       'feed_pred_traces', 'artifacts', 'component_comments',
       'spatial_resolution', 'temporal_resolution', 'lagerstatten',
       'concentration', 'orientation', 'abund_in_sediment',
       'collection_comments', 'taxonomy_comments'],
      dtype='object')

In [10]:
# Filtering to just the columns deepdive needs
rep_filtered = rep[['genus', 'collection_no', 'age_max', 'age_min', 'zone']]
rep_filtered = rep_filtered.rename(columns={'genus': 'Taxon', 'collection_no': 'Locality', 'zone': 'Area', 'age_max':'MaxAge', 'age_min':'MinAge'})
rep_filtered.head()

              Taxon Locality  MaxAge  MinAge        Area
0  Stenaulorhynchus    11753   247.2   242.0  Riograndia
1        Mesosuchus     7838   247.2   242.0  Riograndia
2        Mesosuchus     6546   247.2   242.0  Riograndia
3        Mesosuchus     5887   247.2   242.0  Riograndia
4       Eohyosaurus   K11831   247.2   242.0  Riograndia

In [18]:
rep_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Taxon     4411 non-null   object
 1   Locality  4411 non-null   object
 2   MaxAge    4411 non-null   float64
 3   MinAge    4411 non-null   float64
 4   Area      866 non-null    object
dtypes: float64(2), object(3)
memory usage: 172.4+ KB

In [11]:
# Finding number of unique collection sites
len(rep_filtered['Locality'].unique())

1733

In [16]:
# Finding all collection sites with only one instance (singletons)
singletons = rep_filtered['Locality'].value_counts()
singletons = singletons[singletons == 1]
len(singletons)

1098

In [20]:
# Finding number of unique species
rep_filtered['Taxon'].value_counts()

Taxon
Hovasaurus        301
Captorhinus       127
Nothosaurus       111
Grallator         108
Plateosaurus       99
                 ...
Sophineta           1
Czatkowiella        1
Sarcosaurus         1
Melanorosaurus      1
Vonhuenia           1
Name: count, Length: 700, dtype: int64

In [22]:
# Finding number of unique Areas
rep_filtered['Area'].value_counts()

Area
Hyperodapedon                    91
Perovkan                         61
Dinodontosaurus                  34
Ictidosauria                     29
Cynognathus subzone C            27
                                 ..
Lootsbergian                      1
pulcher/robustus                  1
Daptocephalus Assemblage Zone     1
Daptocephalus Assemblage          1
IV                                1
Name: count, Length: 106, dtype: int64

In [23]:
# Saving it off for now
rep_filtered.to_csv('reptilia_filtered.csv', index=False)